@model IEnumerable<Movie_Exercise.Models.Movie>;


<div>
    @foreach(var movie in Model)
    {
        <div class="post feature-post style:height:500px;">
            <div class="entry-header">
                <div class="entry-thumbnail">
                    <img src="~/Images/@movie.ImageFile" class="card-img-top" style="height: 300px; width: 100%; object-fit: cover;" />
                </div>
            </div>
            <div class="post-content">
                <div class="entry-meta">
                    <ul class="list-inline">
                        <li class="publish-date"><a href="#"><i class="fa-sharp fa-solid fa-clock"></i>@movie.ReleaseYear</a></li>&nbsp; &nbsp;
                        <li class="views"><a href="#"><i class="fa fa-eye"></i>@movie.Price </a></li>&nbsp;&nbsp;
                        <li class="loves"><a href="#"><i class="bi bi-heart bi-lg"></i>@movie.Description </a></li>
                    </ul>
                </div>
                <h2 class="entry-title">
                    <a asp-controller="Articles" asp-action="ContinueReading" asp-route-id="@movie.Id">
                        <span style="color:#003366"></span>@movie.Title
                    </a>
                </h2>
            </div>
        </div>
    }

</div>


