@using Movie_Exercise.SessionHelpers;
@using Movie_Exercise.Models;
@using Movie_Exercise.Controllers;
@inject IHttpContextAccessor httpContext;


@model IEnumerable<Movie_Exercise.Models.ViewModels.CartItemVM>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>List of Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgFile)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="cart-item">
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                <button type="button" onclick="Increment(@item.Id)">+</button>

                    <span id="Quantaty"></span>
                
                <button type="button" onclick="Decrement(@item.Id)">-</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="~/Images/@item.ImgFile" class="cart-img">
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts {
    <script>
        //function Increment(movieId) {
        //    //event.preventDefault();
        //    var requestUrl = "/Cart/IncrementCartItem/";
        //    $.ajax({
        //        type: "POST",
        //        url: requestUrl,
        //        dataType: "json",
        //        cach: false,
        //        data: { Id: movieId },
        //        success: function (data) {
        //            // alert(JSON.stringify(data)); show entire object in JSON format
        //            $.each(data, function (i, obj) {
        //                ('#Quantaty').html(JSON.stringify(data.value));
        //            })
        //        },
        //    })
        //}

         function Increment(movieId) {
            //event.preventDefault();
            var requestUrl = "/Cart/IncrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                 success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                    // Use a regular for-loop
                        for (let i = 0; i < data.length; i++) { 
                        $.each(data, function(i, obj){
                            
                            $('#Quantaty+').html(JSON.stringify(data.value));
                        })
                        }
                    
                },
            })
        }


        function Decrement(movieId) {
            //event.preventDefault();
            var requestUrl = "/Cart/DecrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                    
                        $.each(data, function(i, obj){
                            $('#Quantaty+').html(JSON.stringify(data.value));
                        })
                    
                },
            })
        }


    </script>
}
