@model IEnumerable<Movie_Exercise.Models.ViewModels.CartItemVM>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>List of Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgFile)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="cart-item">
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                    <button class="button-plus border rounded-circle icon-shape icon-sm" type="button" onclick="Increment(@item.Id)">+</button>
                    <input id='@item.Id' type="number" step="1" max="10" value="@item.Quantity" name="quantity" class="quantity-field border-0 text-center w-25">
                    
                    <button class="button-plus border rounded-circle icon-shape icon-sm" type="button" onclick="Decrement(@item.Id)">-</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <span onchange="location.reload"> @item.CartItemTotal() </span>
            </td>
            <td>
                <img src="~/Images/@item.ImgFile" class="cart-img">
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-md-6"> 
        <button onclick="toggleForm()">Checkout</button>
    </div>
    <div class="col-md-5">
        <p>Total Price: @Model.Sum(i => i.CartItemTotal())</p>
        <p>Items: @Model.Sum(i => i.Quantity) </p>
    </div>
</div>



@*form comes after checkout button clicked*@
<div class="form-body" id="checkout-form" style="display:none;">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Today</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" id="form-data"  method="POST" novalidate>
                        <div class="col-md-12">
                                <input class="form-control" type="email" id="email" name="EmailAddress" placeholder="E-mail Address" required>
                                <div class="valid-feedback">
                                    Your Email is alrady exisit! 
                                    @*<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
                                </div>
                        </div>
                        <div class="col-md-12">
                            <input id="customer-FirstName" class="form-control" type="text" name="FirstName" placeholder="First Name" required>
                            <div class="valid-feedback">Billing Address field is valid!</div>
                            <div class="invalid-feedback">Billing Address field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <input id="customer-LastName" class="form-control" type="text" name="LastName" placeholder="Last Name" required>
                            <div class="valid-feedback">Billing Address field is valid!</div>
                            <div class="invalid-feedback">Billing Address field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <input id="customer-BillingAddress" class="form-control" type="text" name="BillingAddress" placeholder="Billing Address" required>
                            <div class="valid-feedback">Billing Address field is valid!</div>
                            <div class="invalid-feedback">Billing Address field cannot be blank!</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <input id="customer-BillingZip" class="form-control" type="number" name="BillingZip" placeholder="Billing Zip" required>
                            <div class="valid-feedback">Billing Zip field is valid!</div>
                            <div class="invalid-feedback">Billing Zip field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input id="customer-BillingCity" class="form-control" type="text" name="BillingCity" placeholder="Billing City" required>
                            <div class="valid-feedback">Billing City field is valid!</div>
                            <div class="invalid-feedback">Billing City field cannot be blank!</div>
                        </div>
                        
                        <div class="col-md-12">
                            <input id="customer-DeliveryAddress" class="form-control" type="text" name="DeliveryAddress" placeholder="Delivery Address" required>
                            <div class="valid-feedback">Delivery Address field is valid!</div>
                            <div class="invalid-feedback">Delivery Address field cannot be blank!</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <input id ="customer-DeliveryZip" class="form-control" type="number" name="DeliveryZip" placeholder="Delivery Zip" required>
                            <div class="valid-feedback">Delivery Zip field is valid!</div>
                            <div class="invalid-feedback">Delivery Zip field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <input id="customer-DeliveryCity" class="form-control" type="text" name="DeliveryCity" placeholder="Delivery City" required>
                            <div class="valid-feedback">Delivery City field is valid!</div>
                            <div class="invalid-feedback">Delivery City field cannot be blank!</div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <input id="customer-PhoneNumber" class="form-control" type="tel" name="PhoneNumber" placeholder="Phone Number" required>
                            <div class="valid-feedback">Phone Number field is valid!</div>
                            <div class="invalid-feedback">Phone Number field cannot be blank!</div>
                        </div>
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary" onclick="CheckCustomer()">Continue</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>




<div class="form-body" id="payment-form" style="display:none;">
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="card p-3">
                    <div class="img-box">
                        <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                    </div>
                    <div class="number">
                        <label class="fw-bold" for="">**** **** **** 1060</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                        <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="card p-3">
                    <div class="img-box">
                        <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                            alt="">
                    </div>
                    <div class="number">
                        <label class="fw-bold">**** **** **** 1060</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                        <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <div class="card p-3">
                    <div class="img-box">
                        <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                            alt="">
                    </div>
                    <div class="number">
                        <label class="fw-bold">**** **** **** 1060</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                        <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card p-3">
                    <p class="mb-0 fw-bold h4">Payment Methods</p>
                </div>
            </div>
            <div class="col-12">
                <div class="card p-3">
                    <div class="card-body border p-0">
                        <p>
                            <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                aria-controls="collapseExample">
                                <span class="fw-bold">PayPal</span>
                                <span class="fab fa-cc-paypal">
                                </span>
                            </a>
                        </p>

                        <div class="collapse p-3 pt-0" id="collapseExample">
                            <div class="row">
                                <div class="col-8">
                                    <p class="h4 mb-0">Summary</p>
                                <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">@Model.Sum(i => i.Quantity) </span></p>
                                    <p class="mb-0"><span class="fw-bold">Price:</span><span class="c-green">:$@Model.Sum(i => i.CartItemTotal())</span>
                                </p>
                                    <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                        nihil neque
                                        quisquam aut
                                        repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                        quis,
                                        iste harum ipsum hic, nemo qui!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border p-0">
                        <p>
                            <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                aria-controls="collapseExample">
                                <span class="fw-bold">Credit Card</span>
                                <span class="">
                                    <span class="fab fa-cc-amex"></span>
                                    <span class="fab fa-cc-mastercard"></span>
                                    <span class="fab fa-cc-discover"></span>
                                </span>
                            </a>
                        </p>
                        <div class="collapse show p-3 pt-0" id="collapseExample">
                            <div class="row">
                                <div class="col-lg-5 mb-lg-0 mb-3">
                                    <p class="h4 mb-0">Summary</p>
                                <p class="mb-0">
                                    <span class="fw-bold">Product:</span><span class="c-green">: @Model.Sum(i => i.Quantity)</span>
                                </p>
                                
                                    <p class="mb-0">
                                        <span class="fw-bold">Price:</span>
                                        <span class="c-green">:$@Model.Sum(i => i.CartItemTotal())</span>
                                    </p>
                                    <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                        nihil neque
                                        quisquam aut
                                        repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                        quis,
                                        iste harum ipsum hic, nemo qui!</p>
                                </div>
                                <div class="col-lg-7">
                                    <form action="" class="form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form__div">
                                                    <input type="text" class="form-control" placeholder=" ">
                                                    <label for="" class="form__label">Card Number</label>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form__div">
                                                    <input type="text" class="form-control" placeholder=" ">
                                                    <label for="" class="form__label">MM / yy</label>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form__div">
                                                    <input type="password" class="form-control" placeholder=" ">
                                                    <label for="" class="form__label">cvv code</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form__div">
                                                    <input type="text" class="form-control" placeholder=" ">
                                                    <label for="" class="form__label">name on the card</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="btn btn-primary w-100">Sumbit</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="btn btn-primary payment">
                    Make Payment
                </div>
            </div>
        </div>
</div>





@section Scripts {
    <script>
         function Increment(movieId) {
            var requestUrl = "/Cart/IncrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                    $.each(data, function (i, obj) {
                        $('#' + movieId).html(JSON.stringify(data.value));
                    })
                    // to make the page reload: location.reload();
                    location.reload();
                },
            })
        }


        function Decrement(movieId) {
            
            var requestUrl = "/Cart/DecrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                        $.each(data, function(i, obj){
                            $('#'+movieId).html(JSON.stringify(data.value));
                        })
                        // to make the page reload: location.reload();
                    location.reload();
                },
            })
        }


        // Toget button to checkout form
        function toggleForm() {
            const form = document.getElementById("checkout-form");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        

        //Add jQuery and the following script to your view
        document.getElementById("email").addEventListener("keyup", checkEmail);
        // Attach event listener to email check button
        function checkEmail() {
                    var email = $('#email').val();
                    // Send AJAX request to CheckEmailExists action
                    $.post("/Cart/CheckEmailExists/", { email: email }, function (data) {
                        if (data) {
                            // Email does not exist in database
                            $('#email').removeClass('is-invalid').addClass('is-valid');
                            $('#customer-FirstName').val(data.firstName);
                            $('#customer-LastName').val(data.lastName);
                            $('#customer-BillingAddress').val(data.billingAddress); // to chang the value of the input use .val()
                            $('#customer-BillingZip').val(data.billingZip);
                            $('#customer-BillingCity').val(data.billingCity);
                            $('#customer-DeliveryAddress').val(data.deliveryAddress);
                            $('#customer-DeliveryZip').val(data.deliveryZip);
                            $('#customer-DeliveryCity').val(data.deliveryCity);
                            $('#customer-PhoneNumber').val(data.phoneNumber);

                        } else {
                            // Email already exists in database
                            $('#email').removeClass('is-valid');
                        }
                    });
                
        }

        function CheckCustomer(){
            var requestUrl = "/Cart/CheckCustomer/";
            var formData = $("#form-data").serialize();
            debugger;
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: formData,
                success: function (resopnse) {
                        consloe.log("payment test here")
                        const form = document.getElementById("payment-form");
                        if (form.style.display === "none") {
                            form.style.display = "block";
                        } else {
                            form.style.display = "none";
                        }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            })
        }
    </script>
}


