@model IEnumerable<Movie_Exercise.Models.ViewModels.CartItemVM>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>List of Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgFile)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="cart-item">
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                    <button type="button" onclick="Increment(@item.Id)">+</button>

                    <span id='@item.Id'>@item.Quantity</span>
                
                    <button type="button" onclick="Decrement(@item.Id)">-</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <span onchange="location.reload"> @item.CartItemTotal() </span>
            </td>
            <td>
                <img src="~/Images/@item.ImgFile" class="cart-img">
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-md-6"> 
        <button onclick="toggleForm()">Checkout</button>
    </div>
    <div class="col-md-5">
        <p>Total Price: @Model.Sum(i => i.CartItemTotal())</p>
        <p>Items: @Model.Sum(i => i.Quantity) </p>
    </div>
</div>



@*<form id="checkout-form" style="display:none;">
    <!-- Your form fields here -->
    
</form>*@

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Today</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                            <div class="valid-feedback">Email field is valid!</div>
                            <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <select class="form-select mt-3" required>
                                <option selected disabled value="">Position</option>
                                <option value="jweb">Junior Web Developer</option>
                                <option value="sweb">Senior Web Developer</option>
                                <option value="pmanager">Project Manager</option>
                            </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                        </div>


                        <div class="col-md-12">
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">Password field is valid!</div>
                            <div class="invalid-feedback">Password field cannot be blank!</div>
                        </div>


                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Gender: </label>

                            <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                            <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

                            <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                            <div class="valid-feedback mv-up">You selected a gender!</div>
                            <div class="invalid-feedback mv-up">Please select a gender!</div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label">I confirm that all data are correct</label>
                            <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>


                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function toggleForm() {
        const form = document.getElementById("checkout-form");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>



@section Scripts {
    <script>
         function Increment(movieId) {
            var requestUrl = "/Cart/IncrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                    $.each(data, function (i, obj) {
                        $('#' + movieId).html(JSON.stringify(data.value));
                    })
                    // to make the page reload: location.reload();
                    location.reload();
                },
            })
        }


        function Decrement(movieId) {
            
            var requestUrl = "/Cart/DecrementCartItem/";
            $.ajax({
                type: "POST",
                url: requestUrl,
                dataType: "json",
                cach: false,
                data: { Id: movieId },
                success: function (data) {
                    // alert(JSON.stringify(data)); show entire object in JSON format
                        $.each(data, function(i, obj){
                            $('#'+movieId).html(JSON.stringify(data.value));
                        })
                        // to make the page reload: location.reload();
                    location.reload();
                },
            })
        }


        // toget button to check out form
        function toggleForm() {
            const form = document.getElementById("checkout-form");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
}
