@model Movie_Exercise.Models.Movie

<div class="card-div col-sm-4" >
    <div class="card text-center" style="width: 18rem;">
        <img src="~/Images/@Model.ImageFile" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-white">@Model.Director</li>
            <li class="list-group-item bg-white">@Model.ReleaseYear</li>
            <li class="list-group-item bg-danger">@Model.Price</li>
        </ul>
        <div class="card-body">
            <button type="submit" onclick="addToCart('@Model.Id')" class="btn btn-primary">Add To Cart</button>
        </div>
    </div>
</div>
